#friends {
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.25);
    height:100%;
    background-color:rgba(255, 255, 255, 0.9);
    position: fixed;
    top:0;
    right:-300px;
    width:300px;
	z-index: 2;
}



li{
	padding-top: 3px;
	list-style-type: none;
}

input[type="time"]::-webkit-clear-button {
    display: none;
}

#eventName{
	border: 0;
	background-color: transparent;
	outline: none;

	margin-left:9%;
	color: black;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

#eventHr{
	position:fixed;
	top: 44%;
	left: 33%;
	border: 0;
	background-color: transparent;
	outline: none;


	color: black;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}



#subbut{
	position: relative;
    background-color: rgb(0,255,255);
    border: none;
    color: rgb(255,255,255);
	width: 100px;
	height: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
	border-radius: 15px;
	outline:none;
	top: 54%;
	left: 18%;
}

#canbut{
	position: relative;
    background-color: rgb(0,255,255);
    border: none;
    color: rgb(255,255,255);
	width: 30px;
	height: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
	border-radius: 15px;
	outline:none;
	top: 54%;
	left: 22%;
}

#gradient{
	left:9px;
	top:51px;
	position: fixed;
	
}

.slider {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 10px;
    background: transparent;
    border: 3px solid white;
    outline: none;
    position: fixed;
    width: 200px;
    top:46px;
	left:4px;
    
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    border: 5px solid rgb(255,255,255);
    box-shadow:0px 0px 5px 0px black;
}

#edial{
	z-index: 5;
	background: white;
	width: 220px;
	height: 170px;
	border-radius: 15px;
	visibility: hidden;
	box-shadow: 0px 0px 1px 1000px rgba(0,0,0,0.8);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

input[type="text"]:not(#txtin #eventName){
	border: none;
	background-color: transparent;
	outline: none;
	
}
.panzoom{
	height: 100%;
	width: 100%;
}
canvas:not(#gradient){
	transform: translate(-50%, -50%);
}

#friends.menu-open {
    right:0;
}

canvas:active{
	cursor: pointer;
}

.controls.menu-open {
	right:320px; 
}

#autobox{
	margin-top: 5px;
	float:right;
}

.controls{
	position: fixed;
	z-index: 2;
	top: 20px;
	right: 20px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}

.autoc{
	position: fixed;
	z-index: 2;
	top: 20px;
	left: 20px;
	
}

#autoshad{
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
	float: left;
	
}

.distance{
	position: fixed;
	z-index: 2;
	bottom: 0;
	left: 20px;
}

body { 
	overflow: hidden;
	margin:0;
}

.image-content {
	width: 100%;
	background-color: #E5E3DF;
	height: 100%;
	z-index: 1;
}

#layer2{
	background-color: transparent;
}

.btn{
	background-color: white;
	border: none;
	color: #747474;
	font-size: 20px;
	display: block;
	outline: none;
	height: 30px;
	width: 30px;
	cursor: pointer;
	font-weight: bold;
	opacity: 1;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	text-align: center;
}

#dist{
	font-size: 20px;
	color: #747474;
}
input[type="button"]{
	opacity: 0.7
}
input[value="-"]{
	padding-bottom: 3px;
}

input[value="+"]{
	padding-top: 3px;
}

input[value="?"]{
	padding-bottom: 3px;
}

input:hover{
	opacity: 1;
}

#zoomButton, #nav-toggle, #resetButton, #eventButton { 
	border-bottom:solid #E6E6E6 1px; 
}

